// you can change colors here
$theme-color: #096dd9;
$sidebar-width: 24rem;
$sidebar-mobile-width: 21rem;
$content-width: 1080px;
$font-family: 'Microsoft Yahei';
$font-family-heading: 'Microsoft Yahei';

